{% extends 'admin/index.html.twig' %}

{% block title %}New Discussion{% endblock %}

{% block content %}
    <h1>Create new Discussion</h1>

    {{ include('admin/discussion/_form.html.twig') }}

    <a href="{{ path('app_admin_discussion_index') }}">back to list</a>
{% endblock %}
